@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&family=Offside&display=swap');

body {
  background-color: black;
  color: azure;
  /* border: 2px solid pink; */
}
.App {
  font-family: sans-serif;
  text-align: center;
}
.navbar {
  display: flex;
  justify-content: center;
  /* border: 2px solid red; */
}
.nav {
  display: flex;
  justify-content: space-evenly;
  font-size: 20px;
  font-weight: 600;
  padding: 10px 0;
  position: fixed;
  width: 70%;
  background-color: rgba(0, 0, 0, 0.621);
  border-radius: 10px;
}
.nav a {
  text-decoration: none;
  color: azure;
}

.company-name{
  margin-top: 50px;
  margin-bottom: 10px;
  font-size: 60px;
  font-weight: 500;
  font-family: 'Nova Mono', monospace;
  background: #FFFF12;
  background: linear-gradient(to right, #FFFF12 0%, #FF7B17 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* border: 2px solid yellow; */
}
.foodItems {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* border: 2px solid yellow; */
}
.cards {
  max-width: 500px;
  margin: 15px 0;
  /* border: 2px solid red; */
}
.cards img {
  width: 90%;
  border-radius: 20px;
  margin-bottom: -10px;
}
